<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <title>About Us</title>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">WeatherApp</div>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/citations">Citations</a>
        </div>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
            <h2> WeatherApp - Powered By:<a href="https://openweathermap.org/">OpenWeather</a>. </h2>

        </div>
        <br>
        <br>

        <div class="center-box-two">
            <h2>About Us</h2>
            <p>Developed By: Johnson Yang</p>
            <p>Published on 2025-06-21</p>
            <p>This Weather App was created to provide a simple, clean and convenient
                 way of accessing the weather of over 125 countries, and approximately 
                 10,000+ cities.</p>
            
            
        </div>
        
    </body>
</html>
