<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <title>Citations</title>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">WeatherApp</div>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/citations">Citations</a>
        </div>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
            <h2> WeatherApp - Powered By:<a href="https://openweathermap.org/">OpenWeather</a>. </h2>

        </div>
        <br>
        <br>
        <div class="center-box-three">
            <h2>Citations</h2>
            <p>Abdelfattah, Noran Saber. “Building Your First Web App with Flask: A Beginner’s Guide.” Medium, 30 Nov. 2023, medium.com/@noransaber685/building-your-first-web-app-with-flask-a-beginners-guide-39b707371bfb. Accessed 18 June 2025.</p>
            <p>“HTML.” Scrimba.com, 24 Jan. 2024, scrimba.com/t0html. Accessed 18 June 2025.</p>
            <p>OpenWeatherMap.org. “Сurrent Weather and Forecast - OpenWeatherMap.” Openweathermap.org, 2012, openweathermap.org/.</p>
            <p>W3Schools. “Introduction to HTML.” W3schools.com, 2024, www.w3schools.com/html/html_intro.asp.</p>
            
        </div>
    </body>
</html>
