<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <title>WeatherAppInfo</title>
    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/citations">Citations</a>
        </div>
        <br>
        <br>
        <h2>Error</h2>
        <p>There was an error retrieving the weather data. It seems like the city you have just inputted is not in our database.</p>
        <a href="/" 
        style="display: inline-block; padding: 7px 12px; font-size: 16px; color: white; background-color: #333; text-decoration: none; border-radius: 5px;">Home</a>
        <hr>
    </body>
</html>
